<!DOCTYPE html>

<html xml:lange="sv" lang="sv">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sm책stads kommun</title>
    <link rel="stylesheet" href="~/stylesheet/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Sm책stad</h1>
            <p>Kommunen d채r vi bryr oss om varandra</p>
        </header><!-- End header -->

        @RenderBody()

        <footer>
            &copy; Sm책stads Kommun All rights reserved.
        </footer>
    </div><!-- End content -->
    </div><!-- End wrapper -->
</body>

</html>