<!DOCTYPE html>

<html xml:lange="sv" lang="sv">

<head>
    <meta charset="UTF-8" />
    <title>Sm책stads kommun</title>
    <link rel="stylesheet" href="stylesheet/style.css" />
</head>

<body>
    <div id="wrapper">
        <header id="logo">
            <h1>Sm책stad</h1>
            <p>Kommunen d채r vi bryr oss om varandra</p>
        </header><!-- End header -->

        @RenderBody()

        <footer>
            &copy; Sm책stads Kommun All rights reserved.
        </footer>
    </div><!-- End content -->
    </div><!-- End wrapper -->
</body>

</html>