@{
    ViewBag.Title = "Inloggning för Småstads personal";
}

<div id="content">
    <section id="mainColumn">
        <h2>Inloggning för Småstads personal</h2>
        <p class="info">En säker tjänst från Småstads IT-avdelning</p>

        <form method="post" action="coordinator/startCoordinator.html">
            <p>
                <input type="hidden" name="isSubmitted" value="true" />
            </p>
            <p>
                <span class="label">Användarnamn:</span><br />
                <input type="text" name="user" />
            </p>
            <p>
                <span class="label">Lösenord:</span><br />
                <input type="password" name="password" />
            </p>
            <p>
                <input class="button" type="submit" value="Inloggning av samordnare" />
                <br />
                <!-- Dessa länkar kan vara kvar tills vi fixar till inloggningen -->
                <a class="button" href="manager/startManager.html">Inloggning av chefer</a><br />
                <a class="button" href="investigator/startInvestigator.html">Inloggning av handläggare</a>
            </p>
        </form>
    </section><!-- End mainColumn -->

    <aside id="sideColumn">
        <img src="~/images/pic_1.jpg" height="162" alt="Ett barn blåser på en maskros" />
        <img src="~/images/pic_2.jpg" height="162" alt="Åkrar utanför Småstad med hus och kyrkan i bakgrunden" />
        <img src="~/images/pic_3.jpg" height="162" alt="Flygbild över Småstads villaområde" />
        <img src="~/images/pic_4.jpg" height="162"
            alt="En kvinna vänder ansiktet mot solen och vinden rör om hennes hår" />
        <img src="~/images/pic_5.jpg" height="162" alt="En åker vid första frosten" />
        <img src="~/images/pic_6.jpg" height="162" alt="Händer som håller i jord och en liten planta" />
        <img src="~/images/pic_7.jpg" height="162" alt="Barn liggandes på gräsmatta" />
        <img src="~/images/pic_8.jpg" height="162" alt="Närbild av en fotboll" />
    </aside><!-- End sideColumn -->
</div><!-- End content -->
