@{
    Layout = "_PreLoginLayout";
}

<h1>Access Denied</h1>

<h2>Du har inte behörighet för att vara på den här sidan!</h2>

<p>
    <a asp-controller="Account" asp-action="Login">Inloggning</a>
</p>