@{
    Layout = "_PreLoginLayout";
}

<section id="mainColumn">
    @await Component.InvokeAsync("ReportConfirmation", ViewBag.errand)
    <p>
        <a class="button" asp-controller="Home" asp-action="Index" id="link">Tillbaka</a> <a class="button"
            asp-controller="Citizen" asp-action="Thanks">Bekräfta</a>
    </p>
</section>